{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">Article</div>
            <div class="col-sm-4">Publish Date</div>
            <div class="col-sm-2">Queued For Posting</div>
        </div>
        {% for article in articles %}
        <div class="row">
            <div class="col-sm-6">
                <a href="{{ article.url }}" target="_blank">{{ article.name }}</a><br/>
                <a href="{{ path('article_edit', {
                    'id': article.id
                }) }}">edit</a>
            </div>
            <div class="col-sm-4">{{ article.pubDate|date('g:ia', 'America/Chicago') }}<br/>{{ article.pubDate|date('Y-m-d', 'America/Chicago') }}</div>
            <div class="col-sm-2" style="text-align:center;"><input type="checkbox"></div>
        </div>
        {% endfor %}
    </div>
{% endblock %}